<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <title>speed</title>
    <link rel="stylesheet" href="css/login.css" />
  </head>
  <body ng-app="speed">
    <div ng-controller="loginController as loginController">
      <div class="container">
        <div class="form-group">
          <h1 id="name-msg" class="text-center">あなたの名前を入力してください。</h1>
          <input type="text" class="input-lg form-control" placeholder="あなたの名前" ng-model="loginController.name"></input>
        </div>
        <div class="form-group">
          <div class="col-sm-12 text-center">
            <button class="btn-primary btn-lg" id="login" data-toggle="modal" ng-click="loginController.click()">ログイン</button>
          </div>
          <div class="modal fade" id="findModal" data-backdrop="static">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h1 class="modal-title">対戦相手を探しています。</h1>
                  <img src="img/loading.gif" alt=""/>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="noNameModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h1 class="modal-title">名前を入力してください。</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="resutlModal" data-backdrop="static">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <h1 class="modal-title">対戦相手が見つかりました。</h1>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

