/* 背景色 */
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);
@import url("https://fonts.googleapis.com/css?family=Raleway:100,600");
@import url(https://fonts.googleapis.com/earlyaccess/mplus1p.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css);

body {
  background-color: #45ab56;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Raleway" , "Noto Sans JP", "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
}

html, input ,h1 {
  font-family: "Raleway" , "Noto Sans JP" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;

  font-weight: 100;
  font-size: 1.2rem;
}

.opp, .card-field {
  text-align: center;
  line-height: 200px;
  height: 200px;
}

/* 場札エリア */
/* プレイヤーカード */
.playerCard {
  height: 130px;
  width: 82px;
  cursor: move;
}

/* 対戦相手カード */
.card {
  height: 130px;
  width: 82px;
}

.field {
  cursor: move;
  margin: 0 auto;
  line-height: 130px;
  height: 130px;
  width: 200px;
}

/* 場札1 */
.Area-1 {
  float: left;
}

/* 場札2 */
.Area-2 {
  float: right;
}

/* ステータスエリア */
.status, .opp-status {
  color: #fff;
  text-align: center;
  width: 100%;
  height: 150px;
  line-height: 150px;
  font-size: 1rem;
}

.name-char {
  font-size: 2rem;
}

.card-count {
  font-size: 2rem;
  display: inline-block;
}

/* メッセージ */
.alert {
  background: #000;
  border: none;
  display: none;
  z-index: 999;
  position: relative;
  margin: 0 auto;
  text-align: center;
  top: -500px;
  font-size: 5rem;
  font-weight: bold;
  color: #fff;
  white-space: nowrap;
}

@media screen and (max-width: 479px) {

  body {
    background-color: #45ab56;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Raleway" , "Noto Sans JP", "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
    font-weight: 100;
    font-size: 0.8rem;
  }

  html, input {
    font-family: "Raleway" , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;

    font-weight: 100;
    font-size: 0.8rem;
  }

  .opp, .card-field {
    line-height: 100px;
    height: 100px;
    width: 200px;
    margin: 0 auto;
  }

  /* プレイヤーカード */
  .playerCard {
    line-height: 85px;
    height: 85px;
    width: 47px;
    cursor: move;
  }

  /* 対戦相手カード */
  .card {
    line-height: 85px;
    height: 85px;
    width: 47px;
  }

  .field {
    margin: 0 auto;
    height:100px;
    line-height:100px;
    width: 150px;
  }

  /* 場札1 */
  .Area-1 {
    float: left;
  }

  /* 場札2 */
  .Area-2 {
    float: right;
  }

  /* ステータスエリア */
  .status, .opp-status {
    color: #fff;
    margin: 0 auto;
    line-height: 100px;
    height: 100px;
    width: 200px;
  }

  .name-char {
    font-size: 2rem;
  }

  .card-count {
    font-size: 2rem;
    display: inline-block;
  }

  /* メッセージ */
  .alert {
    background: #000;
    color: #fff;
    border: none;
    display: none;
    z-index: 999;
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: -300px;
    font-size: 3rem;
    font-weight: bold;
    white-space: nowrap;
  }
}
